/* Général */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
}

#container {
    width: 375px;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    width: 100%;
    height: 130px;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    margin-right: 77px;
}

#nav-hebergements,
#nav-activites {
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
    color: black;
}

#nav-hebergements:hover,
#nav-activites:hover {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
}

#inscription {
    margin-right: 35px;
    color: #0065fc;
}




/* Main */
main {
    width: 100%;
}

/* section div.header */
.header h1{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.header p {
    font-size: 1.135rem;
    margin-bottom: 35px;
}

/* Form */ 

#search-city {
    display: flex;
    width: 335px;
    height: 50px;
    margin-bottom: 35px;
}

.search-large {
    display: none;
}

#search-city #map-icon {
    display: block;
    width: 50px;
    line-height: 50px;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    border-radius: 9px 0 0 9px;
}

#search-city input {
    width: 235px; 
    border-top: 2px solid #f2f2f2;
    border-right: none;
    border-bottom: 2px solid #f2f2f2;
    border-left: none;
    padding-left: 15px;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

#search-city input::placeholder {
    font-size: 1rem;
    color: black;
}

.search-small {
    display: block;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    background-color: #0065fc;
    border-radius: 10px
}

/* section#filters */
#filters {
    width: 335px;
    margin-bottom: 30px;
}

#filters h2 {
    font-size: 1rem;
    margin-bottom: 20px;
}

#eco,
#rom,
#fam,
#anim {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
    border-radius: 50px;
    border: 3px solid #f2f2f2;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

#eco i,
#rom i,
#fam i,
#anim i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #deebff;
    color: #0065fc;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
}

#eco {
    width: 180px;
    margin-right: 10px;
}

#fam {
    width: 140px;
}
#rom {
    width: 170px;
    margin: 15px 0;
}
#anim {
    width: 220px;
}

#filters span {
    width: 71%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

#filters a:hover {
    background-color: #0065fc;
    color: #fff;
}

/* div#infos */  
#infos {
    width: 335px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

#infos i {
    width: 25px;
    height: 25px;
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
}

#infos p {
    margin-left: 15px;
    font-size: 1.1rem;
}



/* section#hebergements */
#hebergements {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#hebergements a, #activites a {
    color: black;
}

#popularite {
    background: #f2f2f2;
    width: 375px;
    height: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: space-evenly;
}

.popularite-header {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
    font-size: 1.3rem;
}

.popularite-elt {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    height: 145px;
    padding: 5px;
    border-radius: 15px;
    width: 335px;
    box-shadow: 1px 1px 2px 2px rgba(53, 52, 52, 0.15);
}

.popularite-elt img {
    width: 130px;
    height: 135px;
    border-radius: 15px 0 0 15px;
    margin-right: 20px;
}

.m-hb {
    margin: 10px 0;
}

.popularite-infos {
    width: 180px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.popularite-infos h2 {
    font-size: 1rem;
}

.pi-mhb {
    margin: 10px 0 25px 0;
}

.fa-star {
    color: #0065fc;
}

.etoile-grise {
    color: #f2f2f2;
}

#heb-marseille h1 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.nos-offres {
    width: 335px;
    height: 200px;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px #f2f2f2;
}

.nos-offres img {
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: left;
}

.nos-offres h2 {
    font-size: 1rem;
    margin: 5px 0;
}

.no-ml {
    padding-left: 15px; 
}

.nos-offres figcaption {
    margin-bottom: 7px; 
    font-weight: 700;
}

.star-mhb {
    margin-top: 3px;
}



#heb-marseille article + p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 30px 0 60px 0
}


#activites h1{
    margin-bottom: 30px;
}

.nos-activites {
    width: 335px;
    height: 190px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px #f2f2f2;
}

.nos-activites img {
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.nos-activites h2 {
    margin: 10px 0 20px 15px;
    font-size: 0.8rem;
    line-height: 24px;
}

/* Footer */
footer {
    height: 485px;
    margin-top: 45px;
    padding-top: 50px;
    padding-left: 30px;
    background-color: #f2f2f2;
}

footer h2 {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.f-apropos, .f-hebergements {
    margin-bottom: 30px;
}

.f-apropos ul li, .f-hebergements ul li, .f-assistance ul li {
    padding-bottom: 20px;
}

.f-apropos ul li:nth-last-child(-n+1),
.f-hebergements ul li:nth-last-child(-n+1),
.f-assistance ul li:nth-last-child(-n+1) {
    padding-bottom: 0;
}

@media screen and (min-width: 576px) {
    #container {
        width: 640px;
    }

    .navigation {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .logo {
        margin-right: 25%;
    }
    
    #nav-hebergements, 
    #nav-activites, 
    #inscription {
        width: 30%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #nav-hebergements,
    #nav-activites {
        padding-top: 54px;
        padding-bottom: 55px;
        border-bottom: none;
    }

    header nav #nav-hebergements:hover,
    nav #nav-activites:hover {
        border-bottom: none;
        border-top: 2px solid #0065fc;
    }

    #nav-hebergements {
        order: 1;
    }
    #inscription {
        order: 3;
    }
    #nav-activites {
        order: 2;
    }

    /* Main */
    .header h1 {
        font-size: 1.45rem;
    }

    #search-city {
        width: 425px;
    }

    #search-city input {
        width: 50%;
    }

    .search-large {
        display: inline-block;
        width: 150px;
        line-height: 50px;
        text-align: center;
        color: white;
        font-size: 1.3rem;
        background-color: #0065fc;
        border-radius: 10px
    }

    .search-small {
        display: none;
    }
}

/* Min-width : 768px */ 

@media screen and (min-width: 768px) {
    #container {
        width: 740px;
        margin: 0 auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 35%;
    }

    #nav-hebergements, 
    #nav-activites, 
    #inscription {
        width: 50%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #nav-hebergements,
    #nav-activites {
        padding-top: 54px;
        padding-bottom: 55px;
        border-bottom: none;
    }

    header nav #nav-hebergements:hover,
    nav #nav-activites:hover {
        border-bottom: none;
        border-top: 2px solid #0065fc;
    }

    .header h1 {
        font-size: 1.3rem;
    }

    .search-large {
        font-size: 1.1rem;
    }

    #filters {
        width: 70%;
    }

    #infos {
        width: 100%;
    }

    #hebergements {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 65px;
    }

    #heb-marseille {
        width: 100%;
    }

    #heb-marseille article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #popularite {
        display: block;
        width: 100%;
        height: 440px;
    }

    .popularite-header {
        justify-content: space-between;
        padding-left: 38px;
    }

    #popularite article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .popularite-elt {
        width: 315px;
    }

    .m-hb {
        margin: 20px 0;
    }

    .act-marseille {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .na-stretch img {
        object-fit: cover;
        height: 350px;
    }

    #activites h1 {
        font-size: 1.2rem;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 170px;
        margin-top: 45px;
        padding-top: 50px;
        padding-left: 30px;
        background-color: #f2f2f2;
        display: flex;
    }

    .fm-hb {
        margin: 4px 0;
    }

    footer h2 {
        font-size: 0.8rem;
        margin-bottom: 8px;
    }

    footer a {
        font-size: 0.65rem;
        color: black;
    }

    .f-apropos, .f-hebergements {
        margin-bottom: 0;
    }

    .f-apropos ul li, .f-hebergements ul li, .f-assistance ul li {
        padding-bottom: 0;
    }

    footer section ul {
        width: 55%;
        margin-right: 200px;
    }
}

@media screen and (min-width: 992px) {
    #container {
        width: 960px;
        margin: 0 auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 42%;
    }

    #popularite {
        display: block;
        width: 100%;
        height: 250px;
    }

    .popularite-header {
        justify-content: space-evenly;
        padding-left: 0;
        padding-top: 20px;
        width: auto;
    }


    #popularite article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .popularite-elt {
        width: 300px;
    }

    .popularite-elt img {
        width: 123px;
    }

    .popularite-infos {
        width: 156px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .pi-mhb {
        font-size: 0.9rem;
    }
    

    .nos-offres {
        width: 255px;
        height: 200px;
        background-color: #fff;
        padding: 5px;
        margin-bottom: 25px;
        border-radius: 15px;
        box-shadow: 1px 1px 2px 2px rgba(53, 52, 52, 0.15);
    }
    
    .nos-offres img {
        width: 245px;
        height: 115px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        object-position: left;
    }

}

@media screen and (min-width: 1200px) {
    #container {
        width: 1140px;
        margin: auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 52%;
    }

    #hebergements {
        display: flex;
        flex-direction: row;
    }

    #heb-marseille {
        width: 700px;
        padding: 0 30px;
        background-color: #f2f2f2;
        border-radius: 15px;
    }

    #heb-marseille h1 {
        font-size: 1.6rem;
    }

    #popularite {
        display: flex;
        width: 350px;
        height: auto;
        justify-content: flex-start;
        align-items: stretch;
    }

    .popularite-elt {
        width: 315px;
    }

    .popularite-header {
        padding: 38px 0;
    }

    .act-marseille {
        display: flex;
        width: auto;
        height: 450px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .na-couples {
        width: 270px;
    }

    .nos-activites {
        width: 275px;
        height: 450px;
        align-items: stretch;
    }

    .na-stretch img {
        object-fit: cover;
        height: 396px;
    }

    .nac-no-stretch-fdp {
        width: 265px;
        height: 235px;
    }

    .fdp-mb {
        margin-bottom: 51px;
    }

    .nac-no-stretch-idf {
        width: 265px;
        height: 164px;
    }

    .nos-activites-idf img {
        height: 110px;
        object-position: 100% 2%;
    }

    .nos-activites-fdp img {
        height: 180px;
        object-position: 100% 34%;
    }

    .nac-no-stretch-nddlg {
        width: 265px;
        height: 195px;
    }

    .nddlg-mb {
        margin-bottom: 45px;
    }

    .nac-no-stretch-pl {
        width: 265px;
        height: 210px;
    }

    .nos-activites-nddlg img {
        height: 140px;
        object-position: 100% 1%;
    }

    .nos-activites-pl img {
        height: 155px;
        object-position: 100% 10%;
    }

    footer section ul {
        width: 55%;
        margin-right: 330px;
    }
}

@media screen and (min-width: 1440px) {
    #container {
        width: 1360px;
        margin: auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 60%;
    }

    #filters {
        display: flex;
        width: 66%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    #heb-marseille {
        width: 900px;
        padding: 0 30px;
        
    }

    #heb-marseille h1 {
        font-size: 1.6rem;
    }

    #popularite {
        width: 425px;
        height: 663px;
    }

    .popularite-elt {
        width: 365px;
    }

    .na-couples {
        width: 310px;
    }

    .nac-no-stretch-fdp {
        width: 310px;
        height: 235px;
    }

    .fdp-mb {
        margin-bottom: 32px;
    }

    .nac-no-stretch-idf {
        width: 310px;
        height: 182px;
    }

    .nos-activites-idf img {
        height: 130px;
        object-position: 100% 1%;
    }

    .nos-activites-fdp img {
        height: 180px;
        object-position: 100% 40%;
    }

    .nac-no-stretch-nddlg {
        width: 305px;
        height: 195px;
    }

    .nddlg-mb {
        margin-bottom: 45px;
    }

    .nac-no-stretch-pl {
        width: 305px;
        height: 210px;
    }

    .nos-activites-nddlg img {
        height: 140px;
        object-position: 100% 1%;
    }

    .nos-activites-pl img {
        height: 155px;
        object-position: 100% 10%;
    }
}



