/* Général */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
}

#container {
    width: 375px;
    margin: 0 auto;
    padding-top: 30px;
}

/* Header */
.navigation {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    margin-right: 77px;
    padding-left: 20px;
}

#nav-hebergements,
#nav-activites {
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
    color: black;
}

#nav-hebergements:hover,
#nav-activites:hover {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
}

#inscription {
    margin-right: 35px;
    color: #0065fc;
}




/* Main */
main {
    width: 100%;
    padding-top : 35px;
}

#search {
    padding-left: 20px;
}

/* section div.header */
.header h1{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.header p {
    font-size: 1.135rem;
    margin-bottom: 35px;
}

/* Form */ 

#search-city {
    display: flex;
    width: 335px;
    height: 50px;
    margin-bottom: 35px;
}

.search-large {
    display: none;
}

#search-city #map-icon {
    display: block;
    width: 50px;
    line-height: 50px;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

#search-city input {
    width: 235px; 
    border-top: 1px solid #f2f2f2;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    padding-left: 15px;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.search-small {
    display: block;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    background-color: #0065fc;
    border-radius: 10px
}

/* section#filters */
#filters {
    width: 335px;
    margin-bottom: 30px;
}

#filters h2 {
    font-size: 1rem;
    margin-bottom: 20px;
}

#eco,
#rom,
#fam,
#anim {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

#eco i,
#rom i,
#fam i,
#anim i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #deebff;
    color: #0065fc;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
}

#eco {
    width: 180px;
    margin-right: 10px;
}

#fam {
    width: 140px;
}
#rom {
    width: 170px;
    margin: 15px 0;
}
#anim {
    width: 220px;
}

#filters span {
    width: 71%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

/* div#infos */  
#infos {
    width: 335px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

#infos i {
    width: 25px;
    height: 25px;
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
}

#infos p {
    margin-left: 15px;
    font-size: 1.1rem;
}



/* section#hebergements */
#hebergements {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 15px;
}

#hebergements a, #activites a {
    color: black;
}

#popularite {
    background: #f2f2f2;
    padding: 0 20px 35px 20px;
    width: 375px;
}

.popularite-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px 0;
    font-size: 1.3rem;
}

.popularite-elt {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    height: 145px;
    padding: 5px;
    border-radius: 15px;
    width: 335px;
}

.popularite-elt img {
    width: 130px;
    height: 135px;
    border-radius: 15px 0 0 15px;
    margin-right: 20px;
}

.m-hb {
    margin: 10px 0;
}

.popularite-infos {
    width: 180px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.popularite-infos h2 {
    font-size: 1rem;
}

.pi-mhb {
    margin: 10px 0 25px 0;
}

.fa-star {
    color: #0065fc;
}

.etoile-grise {
    color: #f2f2f2;
}

#heb-marseille h1 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.nos-offres {
    width: 335px;
    height: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px #f2f2f2;
}

.nos-offres img {
    width: 325px;
    height: 115px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: left;
}

.nos-offres h2 {
    font-size: 1rem;
    margin: 5px 0;
}

.no-ml {
    padding-left: 15px;
}

.nos-offres h2 + p {
    font-size: 1rem;
    margin-bottom: 3px;
}

#heb-marseille article + p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 30px 0 60px 0
}


#activites h1{
    margin-bottom: 30px;
}

.nos-activites {
    width: 335px;
    height: 190px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px #f2f2f2;
}

.nos-activites img {
    width: 100%;
    height: 135px;
    border-radius: 15px 15px 0 0;
}

.nos-activites h2 {
    margin: 10px 0 20px 15px;
    font-size: 1.2rem;
}

/* Footer */
footer {
    height: 485px;
    margin-top: 45px;
    padding-top: 50px;
    padding-left: 30px;
    background-color: #f2f2f2;
}

footer h2 {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.f-apropos, .f-hebergements {
    margin-bottom: 30px;
}

.f-apropos ul li, .f-hebergements ul li, .f-assistance ul li {
    padding-bottom: 20px;
}

.f-apropos ul li:nth-last-child(-n+1),
.f-hebergements ul li:nth-last-child(-n+1),
.f-assistance ul li:nth-last-child(-n+1) {
    padding-bottom: 0;
}

@media screen and (min-width: 576px) {
    #container {
        width: 640px;
    }

    .navigation {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .logo {
        /* width: 40%; */
        margin-right: 25%;
    }
    
    #nav-hebergements, 
    #nav-activites, 
    #inscription {
        width: 30%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #nav-hebergements {
        order: 1;
    }
    #inscription {
        order: 3;
    }
    #nav-activites {
        order: 2;
    }

    /* Main */
    .header h1 {
        font-size: 1.45rem;
    }

    #search-city {
        width: 425px;
    }

    #search-city input {
        width: 50%;
    }

    .search-large {
        display: inline-block;
        width: 150px;
        line-height: 50px;
        text-align: center;
        color: white;
        font-size: 1.3rem;
        background-color: #0065fc;
        border-radius: 10px
    }

    .search-small {
        display: none;
    }

    
    

}

@media screen and (min-width: 768px) {
    #container {
        width: 740px;
        margin: 0 auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 35%;
    }

    #nav-hebergements, 
    #nav-activites, 
    #inscription {
        width: 50%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .header h1 {
        font-size: 1.3rem;
    }

    #search-city input::placeholder {
        font-size: 1rem;
    }

    .search-large {
        font-size: 1.1rem;
    }

    #filters {
        display: flex;
        width: 66%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    #infos {
        width: auto;
    }

    #hebergements {
        flex-direction: row;
        justify-content: space-between;
    }

    #heb-marseille {
        width: 300px;
    }

    #heb-marseille article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #popularite {
        width: 350px;
    }

    .popularite-elt {
        width: 315px;
    }

    .m-hb {
        margin: 20px 0;
    }

    .act-marseille {
        display: flex;
        width: 720px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .na-stretch img {
        object-fit: cover;
        height: 350px;
    }

    


}

@media screen and (min-width: 992px) {
    #container {
        width: 960px;
        margin: 0 auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 42%;
    }

    #heb-marseille {
        width: 550px;
    }

    .nos-offres {
        width: 255px;
        height: 200px;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 15px;
        box-shadow: 1px 1px 2px 2px #f2f2f2;
    }
    
    .nos-offres img {
        width: 245px;
        height: 115px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        object-position: left;
    }

}

@media screen and (min-width: 1200px) {
    #container {
        width: 1140px;
        margin: auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 52%;
    }

    #heb-marseille {
        width: 700px;
        padding: 0 30px;
    }

    #heb-marseille h1 {
        font-size: 1.6rem;
    }

    #popularite {
        width: 350px;
    }

    .popularite-elt {
        width: 315px;
    }

    .act-marseille {
        display: flex;
        width: auto;
        height: 450px;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .nos-activites {
        width: 275px;
        height: 450px;
        align-items: stretch;
    }

    .na-stretch img {
        object-fit: cover;
        height: 396px;
    }

    .nac-no-stretch {
        height: 190px;
    }

    .nac-mb {
        margin-bottom: 70px;
    }


/*
    .na-stretch {
        align-items: stretch;
    } */
}

@media screen and (min-width: 1440px) {
    #container {
        width: 1360px;
        margin: auto;
    }

    .logo {
        justify-content: flex-start;
        margin-right: 60%;
    }

    #filters {
        display: flex;
        width: 66%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    #heb-marseille {
        width: 900px;
        padding: 0 30px;
    }

    #heb-marseille h1 {
        font-size: 1.6rem;
    }

    #popularite {
        width: 400px;
    }

    .popularite-elt {
        width: 365px;
    }
}



