/* Général */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: Raleway, sans-serif;
}

/* Container */

#container{
    width: 940px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}


/* Header */
header {
    width: 100%;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    width: 345px;
    display: flex;
    justify-content: space-between;
}


/* Main */
#search header {
    padding-top: 20px;
}

#search header h1 {
    font-size: 0.9rem;
}

#search header p {
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

#search-city {
    display: flex;
    width: 420px;
}

.map-icon {
    width: 36px;
    height: 36px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search-city input {
    height: 36px;
    width: 153px;
    border-top: 1px solid #f2f2f2;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    padding-left: 15px;
    font-weight: bold;
}

#search-city span {
    display: block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    background-color: #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Main - filtres */
#filters {
    display: flex;
    width: 613px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 22px;
    justify-content: space-between;
    align-items: center;
}

#filters h2 {
    font-size: 0.8rem;
    margin-right: 25px;
}



#eco {
    width: 127px;
    padding-right: 13px;
}


#fam {
    width: 100px;
    padding-right: 15px;
}

#rom {
    width: 120px;
    padding-right: 10px;
}

#anim {
    width: 160px;
    padding-right: 15px;
}

#filters button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 36px;
    border: 1px solid#000;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

#filters button .fas {
    width: 36px;
    height: 36px;
    background-color: #deebff;
    color: #0065fc;
    line-height: 36px;
    border-radius: 36px;
}

#infos {
    display: flex;
    width: 310px;
    justify-content: space-between;
    margin-bottom: 45px;
}

#infos i {
    font-size: 0.6rem;
    color: #0065fc;
    width: 16px;
    border-radius: 16px;
    border: 1px solid #f2f2f2;
    text-align: center;
    padding: 3px;
}

#infos p {
    font-size: 0.7rem;
}


/* Main - hebergements */
#hebergements {
    display: flex;
}







/* Medias queries */
@media screen and (max-width: 768px) {
    #container{
        width: auto;
    }
    
}

